*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 1.3rem;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

h1 {
  font-size: 2.25rem;
  /* margin-top: 0; */
}

h2 {
  font-size: 1.7rem;
}

p {
  font-weight: 300;
  line-height: 1.5;
}

.hero {
  background: #23424a;
  color: white;
  padding: 90px 0;
}

.container {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  /* border: 1px solid pink; */
}

.hero__text {
  width: 65%;
  /* border: 1px solid aliceblue; */
}

.hero__img {
  align-self: flex-start;
  /* border: 1px solid #38CFD9; */
}

.hero__text p {
  margin-bottom: 3em;
}

.btn-cta,
.btn-cta:visited,
.btn-cta:link {
  background-color: #38CFD9;
  padding: 0.75em 2em;
  color: #136C72;

  text-transform: uppercase;
  text-decoration: none;
  
  border: none;
  border-radius: 50px;

  cursor: pointer;
  transition: all .2s;
  position: relative;
  display: inline-block;
}

.btn-cta:hover {
  transform: translateY(-3px);
}

.btn-cta:active {
  transform: translateY(-1px);
}

.two-col {
  padding: 5rem 0;
}

.row {
  display: flex;
  /* gap: 1rem; */
  justify-content: space-between;
}

.two-col__text-area {
  width: 60%;
}

.two-col__text-area h2 {
  color: #136C72;
}

.vertical-row {
  display: flex;
  flex-direction: column;
  width: 35%;

  background-color: #136C72;
  color: white;

  padding: 1rem;
}

.col {
  width: 100%;
  text-align: center;
}

/* .col:not(:first-child) {
  margin-left: 2rem;
} */

/* .col + .col {
  background-color: aliceblue;
  margin-left: 2rem;
} */