*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 1.3rem;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3rem;
}

.hero {
  background: #23424a;
  color: white;
  padding: 90px 0;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

.hero__text {
  width: 65%;
}

.hero__text p {
  margin-bottom: 3em;
}

.btn-cta,
.btn-cta:visited,
.btn-cta:link {
  background-color: #38CFD9;
  padding: 0.75em 2em;
  color: #136C72;

  text-transform: uppercase;
  text-decoration: none;
  
  border: none;
  border-radius: 50px;

  cursor: pointer;
  transition: all .2s;
  position: relative;
  display: inline-block;
}

.btn-cta:hover {
  transform: translateY(-3px);
}

.btn-cta:active {
  transform: translateY(-1px);
}